body {
  background-color: teal;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: 30px;
  font-weight: bold;
}
.main-canvas {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
.btn {
  margin-top: 30px;
}
.fill-btn,
.save-btn {
  background-color: transparent;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.color-btn {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 25px;
  color: aqua;
}
.color-select {
  margin-top: 30px;
  width: 700px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
