.news-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}
.news-menu-ul {
  width: 1200px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  display: flex;
  position: relative;
}
.news-menu-ul li button {
  width: 200px;
  height: 60px;
  color: white;
  font-size: 16px;
  letter-spacing: -0.075em;
}
.on {
  background-color: white;
  color: rgb(51, 51, 51) !important;
}
.more-info {
  position: absolute;
  width: 15px;
  height: 6px;
  right: 38px;
  color: transparent;
  background-image: url("http://www.sejong.ac.kr/sogood_sm/2018_05_30/more_btn.png");
}
.webzine {
  width: 200px;
  height: 60px;
  color: white;
  font-size: 16px;
  letter-spacing: -0.075em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-contents-container {
  display: flex;
  justify-content: center;
}
.news-contents {
  width: 1200px;
  height: 320px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.news-contents iframe {
  height: 320px;
  width: 100%;
  background-color: white;
}
.info-container {
  width: 1230px;
  height: 428px;
  padding-top: 38px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.board-banner-department {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.banner-department {
  width: 454px;
  height: 200px;
  margin-top: 17px;
  display: flex;
}
.banner {
  width: 332px;
  height: 200px;
  padding-right: 10px;
}
.banner-text {
  margin-top: -5px;
  margin-bottom: 7px;
  color: #343434;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.1em;
}
.banner-container {
  width: 330px;
  height: 175px;
  border: 1px solid #e2e3e7;
  overflow: hidden;
  position: relative;
}
.banner-images {
  width: 3300px;
  height: 175px;
  transform: translate3d(-330px, 0px, 0px);
}
.banner-image {
  float: left;
}
.active-image {
}
.banner-num {
  position: absolute;
  top: 8px;
  right: 55px;
  font-size: 12px;
  color: #333333;
  letter-spacing: -0.1em;
}
.banner-controls {
  width: 40px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0px;
}
.button-container {
  width: 14px;
  height: 14px;
  color: #666;
  display: inline-block;
}
.button-container2 {
  width: 12px;
  height: 14px;
  color: #666;
  display: inline-block;
}
.banner-prev-btn {
  width: 100%;
  height: 100%;
  background: url(http://sejong.ac.kr/sogood_sm/2018_05_30/btn_prev.png);
}
.banner-play-btn {
  width: 100%;
  height: 100%;
  background-image: url(http://sejong.ac.kr/sogood_sm/2018_05_30/btn_play.png);
  display: none;
}
.banner-pause-btn {
  width: 100%;
  height: 100%;
  background-image: url(http://sejong.ac.kr/sogood_sm/2018_05_30/btn_pause.png);
  display: none;
}
.banner-next-btn {
  width: 100%;
  height: 100%;
  background-image: url(http://sejong.ac.kr/sogood_sm/2018_05_30/btn_next.png);
}
.active-btn {
  display: inline-block;
}
.department {
  width: 112px;
  height: 200px;
}
.department-text {
  margin-top: -5px;
  margin-bottom: 7px;
  color: #343434;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.1em;
}
.department-contents {
  width: 110px;
  height: 175px;
  border: 1px solid #e2e3e7;
  overflow-y: scroll;
}
.depart-ment-contents-li-a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  padding-left: 12px;
  line-height: 20px;
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1em;
}
.depart-ment-contents-li-a:hover {
  background-color: #f1f1f1;
}
