.zooyo-service {
  width: 252px;
  height: 428px;
}
.zooyo-a {
  width: 72px;
  height: 42px;
}
.zooyo-pic {
  display: flex;
  justify-content: center;
}
.zooyo-text {
  display: flex;
  justify-content: center;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 12px;
  color: white;
  letter-spacing: -0.1em;
  line-height: 18px;
  text-align: center;
}
.zooyo-service-buttons {
  padding: 0 18px;
  width: 216px;
  height: 438px;
}
.real-zooyo-services {
  width: 252px;
  height: 502px;
  margin-top: -72px;
  background: url(http://sejong.ac.kr/sogood_sm/2018_05_30/img5.png);
}
.zooyo-service-button-container {
  display: inline-block;
  width: 72px;
  height: 73px;
}
.sns-achievement {
  width: 454px;
  height: 416px;
  padding-left: 20px;
  padding-top: 12px;
}
.sns {
  width: 452px;
  height: 207px;
  border: 1px solid rgb(226, 227, 231);
  margin-bottom: 30px;
  display: flex;
}
.sns-btn-container {
  width: 95px;
  height: 208px;
  display: inline-block;
}
.sns-contents {
  width: 358px;
  height: 208px;
  padding: 15px;
  display: inline-block;
}
.sns-facebook-btn {
  width: 93px;
  height: 69px;
  padding: 0%;
}
.sns-blog-btn {
  width: 93px;
  height: 69px;
  padding: 0%;
  border-top: 1px solid #e2e3e7;
  border-right: 1px solid #e2e3e7;
  background-color: #f5f5f5;
}
.sns-youtube-btn {
  width: 93px;
  height: 69px;
  padding: 0%;
  border-top: 1px solid #e2e3e7;
  border-right: 1px solid #e2e3e7;
  background-color: #f5f5f5;
}
.achievement {
  width: 454px;
  height: 177px;
  background-image: url(http://www.sejong.ac.kr/img/main/banner/rightside_2004071333.png);
  background-color: aqua;
}
footer {
  width: 100%;
  height: 160px;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
}
.footer-nav-menus {
  font-size: 0;
  width: 1200px;
  background-color: #1b1b1b;
  margin: 0 auto;
}
.footer-nav-menus li {
  display: inline-block;
}
.footer-nav-menu {
  font-weight: bold;
  color: #999999;
  font-size: 12px;
  letter-spacing: -0.1em;
  border-right: 2px solid #313131;
  padding-right: 12px;
  padding-left: 12px;
}
.footer-nav-menu:hover {
  color: white;
}
.footer-contact-container {
  padding: 0 15px;
  background-color: #1b1b1b;
  width: 1200px;
  height: 99px;
  font-size: 0;
  margin: 0 auto;
}
.footer-contact {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.footer-contact-info {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-contact-sitemap-container {
  width: 400;
  height: 100%;
  display: flex;
  align-items: center;
}
select {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.1em;
  color: #555555;
  width: 200px;
  padding-left: 5px;
  text-align: center;
  background: white;
  border: none;
  outline: none;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
}
.site-move-btn {
  margin-left: 5px;
  background: #a1203c;
  color: white;
  font-weight: bold;
  font-size: 12px;
  width: 64px;
  height: 40px;
}
